<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maad.triple_gcycle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripleGCycle">
        <activity
            android:name=".ministry.factoryrequest.FactoriesRequestListActivity"
            android:exported="false" />
        <activity
            android:name=".ministry.citizenrequest.CitizensRequestListActivity"
            android:exported="false" />
        <activity
            android:name=".factory.request.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".factory.FactoryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.offer.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.PointsActivity"
            android:exported="false" />
        <activity
            android:name=".appprovider.AppProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".bank.BankHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ministry.MinistryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".citizen.CitizenHomeActivity"
            android:exported="false" />
        <activity
            android:name=".register.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".register.SignUpActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCU18KbbXIi9xXloZa4VLuOLntjpKGekfU" />

        <activity
            android:name=".factory.request.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".register.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>